# Riippuvuudet
node_modules/
dist/
scripts_and_data/
.vscode/

# Tietokanta
data/*.db
data/*.db-journal

# Lokitiedostot
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Käyttöjärjestelmän omat tiedostot
.DS_Store
Thumbs.db

# Ympäristömuuttujat
.env