# Riippuvuudet (ladataan npm installilla)
node_modules/
dist/
scripts_and_data/

# Tietokanta (Luodaan migraatiolla/ympäristökohtaisesti)
data/*.db
data/*.db-journal

# Lokitiedostot
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Käyttöjärjestelmän omat tiedostot
.DS_Store
Thumbs.db

# Ympäristömuuttujat (mahdolliset salaisuudet)
.env